
<div class="row">
<form class="col s12">
    <input id="textarea1" class="materialize-textarea" type="text" >
    <input class="waves-effect waves-light btn" type="submit" value="seach for a book">
    </form>
    </div>
    <br>
<br>
<div  id="show-book"></div>