// Place all the styles related to the audioSummary controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.audio_summaries {
  background-image: image-url(
    "audiobook-concept-183426066-593f30465f9b58d58af1259c.jpg"
  );
  background-repeat: no-repeat, repeat;
  background-size: cover;
  //   display: -webkit-inline-box;
}

body {
  padding-top: 100px;
}

nav {
  background-color: #db7a7a4f;
  //   padding: 58px;
  border: solid;
  text-align: center;
  //   left: 472px;
  //   top: 161px;
  top: 0;
  position: absolute;
}
// button {
//   background-color: floralwhite;
//   padding: 13px;
// }
#signIn,
#else {
  background-color: lightblue;
}
