// Place all the styles related to the audioSummary controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.audio_summaries {
  background-image: url("art-books-books-with-headphones--audiobook-concept--3d-rendering-isolated-on-white-background-921302008-5afc6c78c5542e00365ab645.jpg.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  display: -webkit-inline-box;
}

nav {
  background-color: #f8f8f89a;
  padding: 58px;
  border: solid;
  text-align: center;
  left: 472px;
  top: 161px;
  position: absolute;
}
button {
  background-color: floralwhite;
  padding: 13px;
}
#signIn,
#else {
  background-color: lightblue;
}
