// Place all the styles related to the book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// image_tag {
//   background-image: -moz-element();
// }
body.books {
  background-image: image-url("art-books-A2.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  //   display: -webkit-inline-box;
}

div#show-book {
  text-align: left;
  border: 1px solid black;
  font-size: 15px;
  //   position: absolute;
  //   left: 22px;
  //   top: 140px;
  display: grid;
  font-style: oblique;
  font-weight: 700;
}

div#main {
  display: flex;
  border: 1px solid black;
  margin-bottom: 15px;
}

div#BookName {
  margin-top: 5px;
  // border: 1px solid black;
  padding: 0px 10px;
}

div#image {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 2%;
}

div#container {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}
